#logo {
  width: 200px;
  height: 200px;
  background: url('../assets/holberton-logo.jpg') no-repeat;
  background-size: cover;
}

#startButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#count {
  font-weight: bold;
  margin-left: 10px;
}
